<main class="p-8">
  <button
    class="py-2 px-5 bg-red-400 hover:bg-red-500 hover:cursor-pointer rounded-lg text-white transition duration-50"
    (click)="openSlidePanel()"
  >
    Open Slide Panel
  </button>
</main>

<app-slide-panel [openSlidePanel]="isSlidePanelOpen">
  <a href="#">
    <h5
      class="mb-2 text-2xl font-bold tracking-tigh text-gray-900 dark:text-white"
    >
      Noteworthy technology acquisitions 2024
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-white">
      Here are the biggest enterprise technology acquisitions of 2024 so far, in
      reverse chronological order.
    </p>
    <button
      class="py-2 px-5 bg-red-400 hover:bg-red-500 hover:cursor-pointer rounded-lg text-white transition duration-50"
      (click)="closeSlidePanel()"
    >
      Close Slide Panel
    </button>
  </a>
</app-slide-panel>
